[defaults]
remote_user = user
host_key_checking = False
deprecation_warnings = False
forks=20
inventory=/mnt/c/Users/efilimonova.RV-PC000122/Desktop/projects/otus/gitea-ha/inventory
roles_path=/mnt/c/Users/efilimonova.RV-PC000122/Desktop/projects/otus/gitea-ha/roles
interpreter_python = auto_silent
ansible_ssh_extra_args='-o StrictHostKeyChecking=no'
gathering = explicit
