{% set endpoints = [] %}
{% for host in groups['etcd'] %}
{% set name = host.split('.')[0] %}
{% set ip = hostvars[host].ansible_host %}
{% set _ = endpoints.append(name ~ '=http://' ~ ip ~ ':2380') %}
{% endfor %}

[Unit]
Description=etcd service
Documentation=https://github.com/coreos/etcd

[Service]
User=etcd
Type=notify
ExecStart=/usr/local/bin/etcd \
 --name etcd01 \
 --data-dir /var/lib/etcd \
 --initial-advertise-peer-urls http://{{ ansible_host }}:2380 \
 --listen-peer-urls http://{{ ansible_host }}:2380 \
 --listen-client-urls http://{{ ansible_host }}:2379,http://127.0.0.1:2379 \
 --advertise-client-urls http://{{ ansible_host }}:2379 \
 --initial-cluster-token etcd-cluster-1 \
 --initial-cluster {{ endpoints | join(',') }} \
 --initial-cluster-state existing \
 --heartbeat-interval 1000 \
 --election-timeout 5000
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
