{% set etcd = [] %}
{% set psql = [] %}
{% for host in groups['etcd'] %}
{% set name = host.split('.')[0] %}
{% set ip = hostvars[host].ansible_host %}
{% set _ = etcd.append(ip ~ ':2379') %}
{% endfor %}
{% for host in groups['psql'] %}
{% set name = host.split('.')[0] %}
{% set ip = hostvars[host].ansible_host %}
{% set _ = psql.append(ip ~ ':9187') %}
{% endfor %}
global:
  scrape_interval: 5s
  evaluation_interval: 5s

scrape_configs:
  - job_name: node
    scrape_interval: 5s

    file_sd_configs:
      - files:
        - /etc/prometheus/targets/node_exporter.json

  - job_name: "etcd"
    scrape_interval: 15s
    metrics_path: /metrics
    static_configs:
      - targets: [{{ etcd | join(',') }}]
      
  - job_name: 'postgres_exporter_PG1'
    metrics_path: '/metrics'
    static_configs:
    - targets: [{{ psql | join(',') }}]

  - job_name: 'blackbox'
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets:
        - https://gitea.rvision.local
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: blackbox:9115

rule_files:
  - 'alert.yml'

alerting:
  alertmanagers:
  - scheme: http
    static_configs:
    - targets:
      - "alertmanager:9093"
